<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title | default: site.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <!-- MathJax configuration -->
  <script type="text/javascript">
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true
      },
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
      }
    };
  </script>

  <!-- Load MathJax from CDN -->
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  
  <!--- CSS for table borders --->
  <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
    }
  </style>

</head>
<body>
  <main>
    {{ content }}
  </main>
</body>
</html>